.container {
  display: flex;
  text-align: center;
  border-top: 2px solid #b3b3b3;
}
.imgstyle {
}
.text {
  width: 250px;
  margin: 20px;
}

.btnAdd {
  background-color: rgb(255, 0, 0);
  height: 90px;
  border: none;
  color: white;
}

.parentBox {
  text-align: center;
  margin: auto;
  width: fit-content;
}

.btnChck {
  background-color: rgb(0, 255, 26);
  height: 55px;
  width: 250px;
  border: none;
  color: white;
  font-weight: 100px;
  margin-bottom: 40px;
}
body {
  background-color: rgb(243, 242, 231);
}
